<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.springboot.mapper.CatMapper">

    <resultMap id="BaseResultMap" type="com.my.springboot.empty.Cat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="huati" column="huati" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,huati,
        time,content
    </sql>
</mapper>
